SHELL=/bin/bash
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin:/home/shuk/bin

shuk_root=/home/shuk

#1分鐘（0-59）
#2小時（2-24）
#3日期（1-31）
#4月份（1-12；或英文縮寫Jan、Feb等）
#5周幾（0-6，0為周日；或單詞縮寫Sun、Mon等）
#6使用者名（執行命令時以此使用者的身份）
#7要執行的命令（路徑）

* * * * * docker-psinfo > ~/public/container_list.txt;
* * * * * server_list_status > ~/public/server_list_status.txt;
